:root {
    --primary-color: #0d253f;
    --secondary-color: #01b4e4;
    --tertiary-color: #90cea1;
    --primary-text-color: white;
  }

* {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
}

.web-page {
    display: block;
}